html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}
.container {
    font: 16px/1.62 "Helvetica Neue","Lantinghei SC","Microsoft YaHei","Microsoft JhengHei",sans-serif;
}

